@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Cinzel Decorative', serif;
}

body {
    font-family: var(--main-font);
    height: 100vh;
    width: 100vw;
    background-color: #D4DE95;
    color: #3D4127;
}

header {
    height: 10vh;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer {
    height: 10vh;
}

h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}