@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Cinzel Decorative', serif;
}

body {
    font-family: var(--main-font);
    height: 100vh;
    width: 100vw;
    background-color: #D4DE95;
    color: #3D4127;
}

header {

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

footer {

}

h1 {
    padding: 5rem 0 0 0;
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

a {
    color: #3D4127;
    text-decoration: none;
    font-weight: bold;
    -webkit-user-drag: none;
}

.box {
    font-size: 2.5rem;
    border: 2px solid black;
    width: 18rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: #BAC095;
    text-align: justify;
    transition: background-color 0.2s, color 0.2s;
}

.box:hover {
    color: #BAC095;
    background-color: #3D4127;
}

#goBack {
    display: inline-block;
    background-color: #BAC095;
    border: 2px solid #636B2F;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 20%;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

#goBack:hover {
  background-color: #3D4127;
  color: #BAC095;
}

#logOut {
    display: inline-block;
    background-color: #BAC095;
    border: 2px solid #636B2F;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 20%;
    color: red;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

#logOut:hover {
    background-color: red;
    color: #3D4127;
}

#delete {
    display: inline-block;
    background-color: #BAC095;
    border: 2px solid #636B2F;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 20%;
    color: red;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

#delete:hover {
    background-color: red;
    color: #3D4127;
}

#edit {
    display: inline-block;
    background-color: #BAC095;
    border: 2px solid #636B2F;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 20%;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

#edit:hover {
  background-color: #3D4127;
  color: #BAC095;
}

#buttonColumn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
}

input:focus{
    outline: 3px #3D4127 solid;
}

button {
  background-color: #BAC095;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}