@import "./global.css";


form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-size: 3rem;
    border: 10px #333 solid;
    border-radius: 5%;
}

input {
    display: inline;
    font-size: 3rem;
    text-decoration: none;
    background-color: #BAC095;
}

::placeholder {
    font-weight: 5;
}

button {
    display: inline;
    font-size: 3rem;
    padding: 1rem;
    background-color: #3D4127;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}