@import "./global.css";

main {
    flex-direction: column;
}

.student {
    border: 2px black solid;
    margin: 2px;
}

.setOfStudents {
    /* border: 2px red solid; */
    font-size: 2rem;
    width: max-content;
    /* width: calc(max-content + 1rem); */
}

input {
    display: inline;
    font-size: 3rem;
    text-decoration: none;
    background-color: #BAC095;
    padding: 0.25rem;
}

.student {
    padding: 0.5rem;
    background-color: #BAC095;
    color: #3D4127;
    transition: background-color 0.2s, color 0.2s;
}

.student:hover {
  background-color: #3D4127;
  color: #BAC095;
}